@charset "UTF-8";


ul.menuSet {
	background: #ffffff;
	transition:0.5s;
	float:left;
	margin-bottom:0;
	/* color: black; */
	text-align: right;
}

.sidebarMenu ul.menuSet li:after{
	clear:both;
	display:block;
	content:"";
}

.sidebarMenu ul.menuSet li {
	overflow:hidden;
}
.sidebarMenu ul.menuSet .set.log {
	background:#fff;
	padding:7.5px 0;
}

 ul.menuSet li.set h2.title {
 	padding: 3px 3px;
 	margin: 18.5px 16.5px 13.5px;
 	font-weight: 700;
 	font-size: 20px;
 	text-align: right;
 	background-color: #F3F3F3;
 	color: #1E243F;
 	border-bottom: 0px solid #111;
 	text-shadow: 0 0px 0px rgba(0,0,0,.5);
 	border-top: 0px solid #313131;
 	font-family: "Noto Sans KR";
 }

 .x-sidebar .x-sidebar-header span {
/*     font-family: NanumSquare; */
}

 ul.menuSet li.logSet a {
 	padding: 13.5px 25px 13.5px 47px;
	display: block;
 }

 ul.menuSet li.set.log .buttonBox {
	padding:7.5px 11.5px 20px;
}

 ul.menuSet li.set.log .buttonBox button {
 	width:48%;
 	float:left;
 	border:1px solid white;
 	background:transparent;
 	border-radius:4px;
 	color:white;
 	padding: 4px 9px;
 	margin: 0;
 }

 ul.menuSet li.logSet .buttonBox button:last-of-type {

	margin-left:4%;
}

.sidebarMenu ul.innerUl {
	padding-bottom: 17px;
	padding-top: 7px;
}

.sidebarMenu ul.innerUl li {

}

.sidebarMenu ul.innerUl li a {
	color: #1E243F;
	font-size: 13px;
	letter-spacing: -1;
	line-height: 14px;
	padding: 6.5px 25px 8.5px 47px;
	display: block;
	font-family: "Noto Sans KR";
    -webkit-text-stroke: 0.2px;
    -moz-text-stroke: 0.2px;
}

.overlay92 {
	position:fixed;
	width:100%;
	height:100%;
	z-index:998;
	display:none;
	background: rgba(0,0,0,0.7);
}

#mobilemenu {
	display:none;
	cursor:pointer;
}

#mobilemenu i {
	color:#1d8bcb;
}


/*navigation*/



header {
	padding: 5px 0;
    z-index: 999;
}
header {
    width: 100%;
    height: 126px;
}

/* uberMenu */
.uber.mobilemenu.active {
    background-color: #4985ED;
}




header:after {
	clear:both;
	display:block;
	content:"";
}


header .header-padding {
    height: 126px;
}

header .headerDoor {
	background-color: rgb(246, 249, 255);
	width: 100%;
	z-index: 12;
}
header .headerDoor .container{
		padding: 20px 0px;
}


header .container {
	text-align: right;

}
header .navigationContent.active .liUnder {
    opacity: 1;
}
header .navigationContent.active {
    height: 330px;
}

header .navigationContent-wrap {
    border-top: 1px solid #CECECE;
    /* margin: 4px 0px; */
    border-bottom: 1px solid #CECECE !important;
}

header .navigationContent {
    position: relative;
		overflow: hidden;
    width: 100%;
    z-index: 100;
    height: 86px;
}
header .container a {
	margin-right: 4.5px;
		padding: 6px 0;
	font-size: 15px;
  color: #434343;
}


header .container a:last-of-type {
	margin-right:0;
}

header .container a.pipe {


}


header .container a.pipe:before {
	content:"|";
	margin: 0 2.5px;
}


header .container span.status {
	font-size:14px;
	margin-right:15px;
}


header .container span.status b {
	color:#1d8bcb;
	margin-right:2.5px;
	font-weight:500;
}



nav div.userBehavior {
	float:left;
	height: 80px;
	margin-left: 0px;
	padding: 24px 0;
}

nav div.userBehavior button {

min-width: 75px;

vertical-align: middle;

height: 32px;

padding-left: 15px;

padding-right: 15px;

border: 1px solid lightgrey;

background: transparent;

color: gray;
}

nav div.userBehavior button:last-of-type {
	margin-left: 4.5px;
	border: 1px solid #99cfaf;
	color: #98e8b9;
}


nav ul.theory {
  margin: 0;
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 5px 100px;
  padding-top: 6px;
	/* font-family: 'Noto Sans KR', sans-serif; */
	/* font-family: "Malgun Gothic", "ë§‘ì€ ê³ ë”•", ë‹ì›€, Dotum, êµ´ë¦¼, Gulim, mal; */

}



nav  ul.theory li {
float:left;
width: 25%;
text-align: center;
}

nav  ul.theory li.root {

}

nav  ul.theory li.root > a.rootA {

  line-height: 62px;
  color: #434343;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: 'NanumSquare';
}


nav ul.theory li:hover > ul.dropmenu {
	display: block;
	min-width: auto;
}

nav  ul.theory li > a {
	display: inline-block;
	color: #434343;
	text-align: left;
	/* padding-left: 76px; */
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
}

nav  ul.theory li > ul.dropmenu {display: none;border-top:1.6px solid #1d8bcb;position: absolute; min-width: 140px;box-shadow: 0px 2px 0px 0px rgb(249, 246, 246);z-index: 9991;}

nav  ul.theory li > ul.dropmenu li {

display: block;

width: 145px;
}

nav  ul.theory li > ul.dropmenu li > a {

padding: 18px 11px;
}

 nav  ul.theory li.uber {
	min-width: auto;
	outline:none;

}

nav ul.theory li.root:hover .uberSection , nav ul.theory li.uber:hover .uberSection {
	display:block;
}

 nav  ul.theory li.uber button {

margin: 0;

background: transparent;

color: #1d8bcb;

font-size: 21.5px;

padding: 0;

vertical-align: middle;

width: 40px;

height: 75px;
}

 nav  ul.theory li.uber button > i {

}

nav  ul.theory li.root div.uberSection , nav  ul.theory li.uber div.uberSection  {display: none;width:100% !important;padding:0;position: absolute;height: 240px;left: 0;box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);z-index: 99991;}

.uberSection ul.uberMenu {
  padding: 0px 184px 0px 220px;
  margin: 0 auto;
  TEXT-ALIGN: CENTER;
}

.uberSection ul.uberMenu li.uberColumn {width: 25%;display: block;float: left;/* padding-left: 11px; */}

ul.uberMenu li.uberColumn ul {
}

ul.uberMenu li.uberColumn ul > li {

/* color: #1E243F; */

body > header > div.headerWrap > div.navigationStatus > div > ul > li:nth-child(1) > a {
    color: #4985ED;
}

text-align: center;
}

ul.uberMenu li.uberColumn ul > li  > a {
    letter-spacing: -1px;
    font-size: 16px;
    /* font-family: "Nanum Gothic"; */
    /* font-family: "Noto Sans KR"; */
    -moz-text-stroke: 0.1px;
    -ms-text-stroke: 0.1px;
    -webkit-text-stroke: 0.1px;
    padding: 3px 0;
    /* padding-left: 26px; */
    /* color: #1E243F; */
    font-weight: 350;
    line-height: 28px;
}

ul.uberMenu li.uberColumn ul > li p.uberHeader {

	color:#27c57c;
	font-weight:450;
	margin:8px 0 15px;
	font-size:15px;
}


nav .brandLogo {
    /* float: left; */
    /* display: none; */
    height: 46px;
    width: 170px;
    padding-top: 10px;
    position: absolute;
    /* margin-bottom: 20px; */
    left: -200px;
    /* margin-right: 20px; */
}

nav .brandLogo a {

}

nav .brandLogo a > img {
	width: 170px;
	}


li.menuF ul li a:hover {
    color: white !important;
}


nav {


}




.bannerBox{
  position: relative;
  overflow: hidden;
  /* text-align: center; */
  font-family: 나눔고딕 EXTRABOLD;
  /* float: left; */
  width: calc(100% - 120px);
}

.uberSection {


}
ul.navigationStatus-wrap li:last-child a:last-child {
    padding-right: 0px !important;
}

ul.uberMenu li.uberColumn ul > li:hover > a,
nav ul.theory li.root:hover > a.rootA{
    color: #4985ED;
}
.bannerBox.mot2.active {
    height: 300px;
}


.mot2 {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sidebarMenu ul.innerUl li:hover a {
    color: #4985ED;
}

.bannerWrap {
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: #fff;
}


.bannerBox.active .liUnder{
	opacity: 1;
}

.liUnder{
    position: absolute;
    top: 60px;
    width: 0px;
    height: 3px;
    background-color:#4985ED;
    opacity: 0;
}

.uberSection ul.uberMenu li.uberColumn:nth-child(1) {
    /* padding-left: 48px; */
}

.uberSection ul.uberMenu li.uberColumn:nth-child(2) {
    /* padding-left: 25px; */
}

.uberSection ul.uberMenu li.uberColumn:nth-child(4) {
    /* padding-left: 0px; */
}

.uberSection ul.uberMenu li.uberColumn:nth-child(5) {
    /* padding-left: 1px; */
}

.uberSection ul.uberMenu li.uberColumn:nth-child(6) {
    /* padding-left: 0px; */

}

/* 반응형 경계선  */
@media screen and (max-width:1290px) {
	.sidebarMenu {
	    top: 102px;
	}
	nav ul.theory{
		padding: 5px 0px;
	}
	.uberSection ul.uberMenu {
    padding: 0px 84px 0px 120px;
	}
	.container{
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
	div.overlay92 {

	}
	/*  */
#mobilemenu {
	width: 20px;
	position: absolute;
	top: 27px;
	height: 20px;
	right: 23px;
	display: block;
}


.h-menu.active .bar1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.h-menu.active .bar2 {
    opacity: 0;
}

.h-menu.active .bar3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
    left: -3px;
}
.h-menu .bar1 {
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    transform-origin: 0;
}
.h-menu div {
    width: 22px;
    height: 2px;
    background-color: #999999;
    margin-bottom: 5px;
}
.h-menu.active div {
	position: absolute;
}
	header {
		display:none;
	}


nav .brandLogo {
    height: 62px;
    position: absolute;
    left: 10px;
    float: none;
}

nav {
	padding-top: 6px;
	padding-bottom: 4px;
}


}


@media screen and (min-width:1200px) {
	nav ul.theory li.uber div.uberSection , nav ul.theory li.root div.uberSection {
		width:1110px;
	}
}


@media screen and (max-width:1199px) {
	nav div.userBehavior {
		display:none;
		width:0;
	}



}

@media screen and (min-width:992px)  and (max-width:1199px)  {

	.uberSection ul.uberMenu li.uberColumn {

	}
/* 	nav .brandLogo {
		margin-right:20px;
		width:130px;
	}
 */	nav .brandLogo a > img {
		width:100%;
		height:auto;
	}

	nav ul.theory li {
		min-width:130px;
	}
}



@media screen and (max-width:991px) {




}
@media screen and (max-width:710px) {

	nav ul.theory{
		display: none;
	}

	.navigationWrap .logo .imgWrap {
	    width: 120px;
	    margin: 0 auto;
	}

	.navigationWrap .logo {
	    float: unset;
	}

	.headerWrap div.uber {
	    opacity: 1;
			position: absolute;
			right: 0;
	}

	.headerWrap .navigationWrap {
    width: 100%;
}


}


.h-members {
    display: block;
}


.h-members {
    width: 100%;
    height: 29px;
}

.h-members .h-members-btns {
    float: right;
    margin-right: 25px;
}

.h-members .h-members-btns div {
    float: left;
    display: inline-block;
    line-height: 30px;
}

.h-members .h-members-btns div.h-members-sns-btns a {
    color: #999999;
    font-size: 12px;
	font-family: "Noto Sans KR";
    -moz-text-stroke: 0.1px;
    -ms-text-stroke: 0.1px;
    -webkit-text-stroke: 0.1px;
}

.h-members .h-members-btns div a {
    display: inline-block;
    float: left;
    transition: color 0.3s;
}

.h-members .h-members-btns div.h-members-sns-btns a:after {
    color: #999999;
    background-color: rgba(134,134,134,0.5);
}

.h-members .h-members-btns div a:after {
    content: "";
    width: 2px;
    height: 2px;
    float: left;
    margin: 14px 8px;
    background-color: rgba(134,134,134,1);
}
.h-members .h-members-btns div a.fb:after {
	width: 0px;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.container{
	margin: 0 auto;
}


.banner-container {
    margin: 0 auto;
    /* max-width: 960px; */


    position: relative;
}

.uberwrap {
    width: 900px;
    margin: 0 auto;
    height: 240px;
}


/* 모바일 베뉴 */
.menuMobile {
    position: fixed;
    z-index: 999;
    right: -110%;
    transition: 0.5s;
		height: 100%;
}
.min991 {
    BACKGROUND: #ffffff;
    transition: 0.5s;
    float: left;
		height: 100%;
}
.min991 ul.menuSet {
    float: left;
}

.min991 ul.menuSet li.logSet {
    background: #fff;
    padding: 7.5px 0;
}

.min991 ul.menuSet li a.title {
    padding: 17.5px 16.5px 9.5px;
    font-weight: 700;
    font-size: 1.21em;
    color: #4985ed;
		border-bottom: 1px solid #cecece;
    text-shadow: 0 0px 0px rgba(0,0,0,.5);
    border-top: 1px solid #cecece;
    font-family: Nanum Square;
}

.min991 ul.menuSet li a {
    padding: 13.5px 25px 13.5px 47px;
    display: block;
}
.min991 ul.menuSet li.logSet .buttonBox {
    padding: 7.5px 11.5px 20px;
    margin-top:6.5px: ;
}
.min991 ul.menuSet li.logSet .buttonBox button {
    width: 48%;
    float: left;
    border: 1px solid white;
    background: transparent;
    border-radius: 4px;
    color: white;
    padding: 4px 9px;
}

.min991 ul.menuSet li.logSet .buttonBox button:last-of-type {
    margin-left: 4%;
}

.overlay92 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.51);
    z-index: 998;
    display: none;
}

.min991 ul.menuSet li.logSet .imgWrap {
    width: 125px;
    margin: 10px auto;
}


@media only screen and (max-height: 1983px) {
	.sidebarMenu {

		overflow-y:scroll;
		height:100%;
	}
}
