@charset "UTF-8";

.b-bottom {
  border-bottom: 1.4px solid #95989a;
    margin-bottom: 20px;
}

/* 탭 기본 틀 */
.tab-nav {
  margin: 0;
  padding: 0;
}

.tab-link {
  margin-right: 5px;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  background-color: #b3b3b3;
  flex-basis:0;
  flex-grow:1;
  text-align:center;
}



.tab-link:last-child {
  margin-right: 0;
}

.tab-link:hover {
  color: #6d6d6d;
}

.tab-link.is-active {
  color: white;
  background-color: #3caa69;
}

/* Tab Content */
.tab-content {
  display: none;

}

.tab-content.is-active {
  display: block;
  padding: 20px;
}

.subPage h2 {
  float: left;
font-size: 27px;
padding-bottom: 10px;
color: #3caa69;
margin-bottom: 4px;
font-weight:bold;
letter-spacing:0.41px;
}


div.clinical_info_content_box h2 {
  margin: 20px 0 12px 0;
padding: 0;
font-size: 20px;
text-align: left;
font-weight:bold;
letter-spacing:0.41px;
}

div.clinical_content_justice .clinical_imgText {
  margin-bottom: 94px;
}

div.clinical_imgText .clinical_imgBox {
  width: 47%;
height: auto;
display: inline-block;
float: left;
margin-right: 3%;
}

div.clinical_bio_justice > .clinical_imgText {
  margin-bottom:45px;
}

div.clinical_imgText > .clinical_imgBox > img {
  width: 100%;
    height: auto;
}

div.clinical_imgText > div.clinical_text {
  display: inline-block;
    width: calc(100% - 50%);
}

div.clinical_imgText > .clinical_text p {
  font-weight: normal;
font-size: 14px;
line-height: 25px;
font-style: italic;
color: rgba(80,80,80,0.8);
letter-spacing: 0;
    word-spacing: 0;
}

.info_border {
  width: 55px;
    border-top: 4px solid #96D88A;
}

.info_textBox >.info_kinds_h2 {
  margin: 30px 0 12px 0;
  padding: 0;
font-size: 20px;
text-align: left;
}

div.info_textBox > .info_text.kinds {
  margin: 0 0 45px;
}

.clinical_info_tr > td p {

margin-bottom: 6.5px;
margin-top:0;
line-height: normal !important;
}

.info_hr_border2 {
  border-top: 1px solid #a09f9f;
margin-bottom: 50px;
}
.clinical_info_tr > td p {
  font-size: 14px;
	font-weight: normal;
   	letter-spacing: 0;
   	word-spacing: 0;
   	color: rgba(80,80,80,0.8);

}
.clinical_info_tr th:nth-of-type(2) {
    width: 181px;
}

.clinical_info_table {
  border: 1px solid #ddd;
    margin-bottom: 50px;
}

.clinical_info_table caption {
  display:none;
}

.clinical_info_tr:first-of-type {
  background: #efefef;
}


.clinical_info_tr th {
  padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.clinical_info_tr td {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px 15px;

}

.clinical_info_tr td:first-of-type {
	text-align: center;
}

.clinical_info_tr > td:first-of-type > p {
    color: #222;
    font-size: 16px;
}

.info_categori_content > .info_categori_title {
  margin: 0;
color: #3caa69;
font-weight: 500;
}

.info_categori_content > .info_categori_text {
      margin: 0 0 35px;
}

.info_step_imgBox {
  width:90%;
}

.info_step_img {
  width:100%;
  height:auto;
}

div.clinical_info_content_box p {
  font-weight: normal;
  line-height: 32px;
font-size: 16px;
letter-spacing: 0;
word-spacing: 0;
color:rgba(80,80,80,0.8);
}

div.clinical_info_content_box p.sourceId {
  margin-top: 22.5px;
font-weight: 450 !important;
color: #6a6a6a !important;
width: 300px;
border: 0px solid black;
border-width: 1px 0px 1px 0;
padding: 7.5px 0;
float: right;

}

p.sourceId a:first-of-type {
  padding-right: 4px;
  letter-spacing: 0.11px
}

.info_border2 {
  width: 55px;
    border-top: 4px solid #96D88A;
}

.clinical_bio_content > .clinical_bio_pContent {
  margin: 30px 0 45px;
line-height: 32px;
font-weight: normal;
color: rgba(80,80,80,0.8);
}


.info_hr_border3 {
  border-top: 1px solid #a09f9f;
margin: 30px 0;
}

.clinical_info_title h2 {
  font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 25px;
}


.clinical_bio_textBox > .clinical_bio_title {
  margin: 0;
color: #3caa69;
font-weight: bold;
line-height: 30px;
}

.clinical_bio_textBox >.clinical_bio_text1 {
  ine-height: 30px;
    color: rgba(80,80,80,0.8);
    font-weight: normal;
}

.clinical_bio_textBox > .clinical_bio_text2 {
  margin: 40px 0 50px;
    line-height: 30px;
    color: rgba(80,80,80,0.8);
    font-weight: normal;
}

div.infoEdu-downBox {
  letter-spacing: -1px;
border: 1px solid #3caa69;
padding: 10px 20px;
border-radius: 8px;
font-weight: 400;
text-align: center;
clear: both;
margin-bottom: 15px;
font-size: 14px;
width: 300px;
}

a.infoEdu-downArea {
  display: block;
    color: #3caa69 !important;
}

/* 아코디언*/

@charset "UTF-8";

div.accordian {
	border-bottom:1px solid #ddd;
	padding:12px 3px;
	cursor:pointer;
}

div.accordian:after {
	clear:both;
	display:block;
	content:"";
}

div.accordian.start {
	border-top:2px solid black;
	margin-top:35px;
}


div.accordian .question {
	font-size:18px;
	font-weight:bold;
	word-spacing:0.5px;
	margin:0 5px 0;
	float:left;
}

div.accordian .questionContent {
	margin:0;
	font-weight:bold;
	float: left;
	line-height:27px;
	margin-left:8px;
}

div.accordian i {
	float:right;
	margin:7px 3px 0 0;
	font-size:17px;
	cursor:pointer;
}

div.accordianContent {
	padding:5px 10px;
	background-color:#eef2f5;

}

div.accordianContent:after {
	clear:both;
	display:block;
	content:"";
}

div.accordianContent .answer {
	float:left;
	font-size:18px;
	font-weight:bold;
	color:#3caa69;
	margin:17px 0 0 12px;
}

div.accordianContent .answerContent {

/* float: left;

width: calc(100% - 24px); */
}


div.accordianContent .answerContent p {
	display:block;
	margin:20px 20px 20px 40px;
	font-size:14px;
	font-weight:400;
}

div.accordianContent .answerContent a {
	color:#3caa69;
}

div.accordianContent .answerContent br {

}


div.accordian_rotate i{
   transform: rotate(180deg);
}

.accordian_layer i{
   transition: all 0.3s ease-out;
}


div.accordian_select {
	background: #3caa69;
    color: #ffffff;
    cursor:pointer;
}

div.accordian.accordian_select > p{
	  color: #ffffff;
	}

  .tab-nav {
    display:flex;
    flex-wrap:wrap;
  }



  /* rights */

  .academy-mobile-header {
    display:none;
  }

div.subP-clinical {
  margin-top:30px;
}

  div.subP-clinical-qualify h2 {
    padding: 0;
    margin: 40px 0;
    font-size: 20px;
    letter-spacing:0.41px;
    font-weight:bold;
  }

  div.clinical_imgBox > img {
    width:100%;
    height:24%;
  }

  div.clinical_mobile_imgBox {
    display:none;
  }

  div.clinical_mobile_imgBox > img {
    width:100%;
    height:27%;
  }

  div.clinical_mobile_imgBox > img:first-of-type {
    height:auto;
  }

div.clinical_info_content_box > .clinical_info_text p {
  margin: 30px;
    font-size: 24px;
    padding: 10px 0 0 20px;
    font-family: 'NanumSquare';
    color: #3caa68;
    line-height: 40px;
}

div.clinical_info_content_box > .clinical_info_subText > .clinical_info_subP {
  margin:11px 0;
}

div.clinical_info_content_box > .clinical_info_subText2 p {
  font-weight:600;
  margin: 0 0 40px;
}

.info_hr_border1 {
  border-top:2px solid rgba(0, 0, 0, 0.1);
  margin-bottom:45px;
}

div.clinical_qualify_mobileImg {
  display:none;
}

div.clinical_content_qualify > .clinical_qualify_title > p:first-of-type {
  color: #3caa68;
    font-weight: 600;
    margin: 10px 0 0;
}

div.clinical_content_qualify > .clinical_qualify_title > p > i {
  margin-right: 6px;
    vertical-align: middle;
    margin-bottom: 3px;
    font-size: 8px;
}

div.clinical_qualify_imgBox2 {
  display:none;
}

.clinical_info_content_box.last {
  margin:0 0 40px;
}

.clinical_rule_imgBox {
  width:100%;
  text-align:center;
}

.clinical_rule_img img {
  max-width:100%;
  height:auto;
}

div.subP-clinical > h2 {
  margin: 0 0 65px 0;
padding: 0;
font-size: 24px;
color: #222;
font-weight:bold;
color:#222;
}

.info_support_imgBox {
  margin-bottom:70px;
}

.info_support_img {
  width:100%;
  height:auto;
}

div.clinical_content_box {
  display: flex;
}

.clinical_content_box > .support_iconBox {
  width: 100px;
}

.clinical_content_box > .support_iconBox img {
  height:auto;
}

.clinical_content {
  padding-left: 45px;
}

div.clinical_content_head h2 {
  color: #3caa69;
    padding: 0;
    margin-bottom: 10px;
    word-spacing: 0;
    font-size: 18px;
    font-weight: bold;
}

.clinical_content_body {
  margin-bottom:55px;
}


div.clinical_content_box p {
  font-weight: normal;
    line-height: 32px;
    font-size: 16px;
    word-spacing: 0;
    color: rgba(80,80,80,0.8);
    display: table-cell;
}

.buttonBox {
  text-align: center;
margin-top: 45px;
}

.buttonBox input {
  padding: 15px 31px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  min-width: 105px;
  background: #3caa69;
  cursor: pointer;
}
