@charset "UTF-8";
/* mainVisual */
#mainVisual {
    position: relative;
    overflow: hidden;
    height: 585px;
}
#mainVisual .visual_wrap {
    position: relative;
}

#mainVisual .visual_wrap li {
    width: 100%;
    height: 585px;
    position: absolute;
    top: 0;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-background-position-x: 50%;
    background-position-x: 50%;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

#mainVisual .visual_wrap .visual_txt {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    z-index: 10;
    text-align: center;
}

#mainVisual .visual_wrap .visual_txt .txt_wrap {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

#mainVisual .visual_wrap .visual_txt .txt_wrap h3 {
    font-size: 55px;
    line-height: 70px;
}

#mainVisual .visual_wrap .visual_txt .txt_wrap h3.txt_title {
    font-weight: 500;
    font-size: 50px;
}

#mainVisual .visual_wrap .visual_txt .txt_wrap p {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 0 0;
    color: #fff;
}
#mainVisual .visual_wrap .visual_txt .txt_wrap p.txt_sub_title {
    margin-bottom: 16px;
    font-size: 30px;
    text-shadow: 0.1px 0.1px #dedede;
}
#mainVisual .visual_wrap .visual_txt .txt_wrap p.txt_text {
    font-size: 25px;
    letter-spacing: -1px;
    padding-top: 65px;
}

#mainVisual .visual_wrap .visual_txt .txt_wrap h3, #mainVisual .visual_wrap .visual_txt .txt_wrap p, #mainVisual .visual_wrap .visual_txt .txt_wrap a {
    position: relative;
    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    transform: translate(0, 30px);
    opacity: 0;
    filter: alpha(opacity=0);
}
#mainVisual .visual_wrap .visual_txt .txt_wrap a {
    width: 183px;
    height: 42px;
    background-color: #1428a0;
    margin: 30px 0 0;
    display: inline-block;
    position: relative;
    text-indent: 22px;
    color: #fff;
    line-height: 42px;
    font-size: 18px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
}

/* mainVisualCarocel button  */
#mainVisual #navBtn {
    width: 100%;
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 645px);
    z-index: 20;
}

#mainVisual #navBtn button.prev {
    left: 15px;
}

#mainVisual #navBtn button.next {
    right: 15px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#mainVisual #navBtn button {
    width: 74px;
    height: 74px;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    background-image:url(../images/main/main_carocel_navi_icon.png);
    -ms-background-position-x: 50%;
    background-position-x: 50%;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

/* indiBtn */
#mainVisual #indiBtn {
    width: 100%;
    position: absolute;
    z-index: 20;
    bottom: 80px;
    text-align: center;
}
#mainVisual #indiBtn li {
    display: inline-block;
    margin: 0 8px;
}

#mainVisual #indiBtn button {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    text-indent: -9999px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

#mainVisual #indiBtn button.active {
    width: 45px;
    background-color: #4985ed;
}

/* common */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

}

.hidden-txt, legend {
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    width: 0;
    height: 0;
    line-height: 1px;
    position: absolute;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
label, button {
    cursor: pointer;
}
select, input, button, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    border: 0 none;
    font-size: 17px;
    font-weight: 300;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    padding: 0;

}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
}

/* MINI_NAVIBTN CSS */
.mini-navBtn-box {
    position: absolute;
    z-index: 99;
    right: 0;
    border-radius: 10px 0px 0px 10px;
    top: calc(50% - 150px);
    background: #17305D;
    box-shadow: 0px 1px 5px 0px rgb(68, 62, 62);
}

.mini-navBtn-box .mini-navBtn-wrap {
    border-bottom: 1px solid #4d5667;
    padding: 8px 8px;
    text-align: center;
    display: table;
    /* height: 100%; */
    /* min-height: 80px; */
    height: 100px;
    width: 100%;
    cursor: pointer;
  }
.mini-navBtn-box .mini-navBtn-wrap:last-child {
    border-bottom: none;
}

.mini-navBtn-box .mini-navBtn-wrap .mini-navBtn-text p {
    font-size: 13px;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-family: 'NanumSquare';
}

.mini-navBtn-box .mini-navBtn-wrap .mini-navBtn-img {
  overflow: auto;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}

.mini-navBtn-text {
    /* float: left; */
    display: table-footer-group;
    /* margin-bottom: 40px; */
}
.mini-navBtn-box .mini-navBtn-wrap .mini-navBtn-img .imgWrap {
    /* margin-top: 5px; */
    padding-top: 5px;
}

@media screen and (max-width:1480px) {
  #mainVisual #navBtn{
    display: none;
  }

}

@media screen and (max-width:1199px) {

  #mainVisual .visual_wrap .visual_txt .txt_wrap p{
    padding: 0px;
  }

  #mainVisual .visual_wrap .visual_txt .txt_wrap p.txt_sub_title {
      margin-bottom: 16px;
      font-size: 26px;
      text-shadow: 0.1px 0.1px #dedede;
  }

  #mainVisual .visual_wrap .visual_txt .txt_wrap h3.txt_title {
    font-size: 44px;
  }
  #mainVisual .visual_wrap .visual_txt .txt_wrap p.txt_text {
      font-size: 22px;
      padding-top: 25px;
  }
  #mainVisual {
      height: 475px;
  }
  #mainVisual .visual_wrap li{
    height: 475px;
  }

}

@media screen and (max-width:910px) {

  #mainVisual {
      height: 415px;
  }
  #mainVisual .visual_wrap li{
    height: 415px;
  }

  #mainVisual .visual_wrap .visual_txt .txt_wrap h3.txt_title{
    font-size: 31px;
  }



}



@media screen and (max-width:770px) {

  #mainVisual {
      height: 305px;
  }
  #mainVisual .visual_wrap li{
    height: 305px;
  }

  #mainVisual .visual_wrap .visual_txt .txt_wrap p.txt_sub_title{
    font-size: 22px;
    margin-bottom: 0px;
  }

  #mainVisual .visual_wrap .visual_txt .txt_wrap h3.txt_title{
    font-size: 25px;
  }

  #mainVisual .visual_wrap .visual_txt .txt_wrap p.txt_text{
    font-size: 22px;
    padding-top: 0px;
  }

  #mainVisual div.mini-navBtn-box{
    display: none;
  }

  #mainVisual #indiBtn {
    bottom: 25px;
  }

}
