@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Thin;
  font-weight: 100;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Thin.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Thin.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Thin?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Light;
  font-weight: 300;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Light.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Light.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Light?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: DemiLight;
  font-weight: 350;
  src:local(※),
    url("../fonts/NotoSansCJKKr-DemiLight.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-DemiLight.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-DemiLight?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Regular;
  font-weight: 400;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Regular.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Regular.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Regular?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Medium;
  font-weight: 500;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Medium.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Medium.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Medium?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Bold;
  font-weight: 700;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Bold.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Bold.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Bold?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Black;
  font-weight: 900;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Black.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Black.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Black?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumSquare';
  font-style: Light;
  font-weight: 300;
  src:local(※),
    url("../fonts/NanumSquareL.woff") format('woff'),
    url("../fonts/NanumSquareL.otf") format('opentype'),
    url('../fonts/NanumSquareL?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumSquare';
  font-style: Medium;
  font-weight: 400;
  src:local(※),
    url("../fonts/NanumSquareR.woff") format('woff'),
    url("../fonts/NanumSquareR.otf") format('opentype'),
    url('../fonts/NanumSquareR?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumSquare';
  font-style: Bold;
  font-weight: 600;
  src:local(※),
    url("../fonts/NanumSquareB.woff") format('woff'),
    url("../fonts/NanumSquareB.otf") format('opentype'),
    url('../fonts/NanumSquareB?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumSquare';
  font-style: ExtraBold;
  font-weight: 700;
  src:local(※),
    url("../fonts/NanumSquareEB.woff") format('woff'),
    url("../fonts/NanumSquareEB.otf") format('opentype'),
    url('../fonts/NanumSquareEB?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Righteous-Regular';
  font-style: Regular;
  font-weight: 400;
  src:local(※),
    url("../fonts/Righteous-Regular.woff") format('woff'),
    url('../fonts/NanumSquareEB?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'JejuMyeongjo-Regular';
  font-style: Regular;
  font-weight: 400;
  src:local(※),
    url("../fonts/JejuMyeongjo.woff") format('woff'),
    url('../fonts/JejuMyeongjo?#iefix') format('embedded-opentype');
}

Righteous-Regular
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.font-normal{
  font-weight: normal;
}
.logo-font {
    font-family: 'Righteous-Regular';
}
html, body {
  margin: 0 auto;
  font-family: 'Noto Sans CJK KR';
  padding: 0;
  position: relative;
  text-transform: initial;
  background: hsl(0, 0%, 100%) !important;
}

body {
  overflow-x: hidden;
}

body:after, html:after {
  clear: both;
  display: block;
  content: "";
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  letter-spacing: 1px;
}

h2, h5 {
  letter-spacing: 1.3px;
  /* text-transform: uppercase; */
}

h1 {
  line-height: 3rem;
  padding-bottom: 0px;
}

h3 {
  letter-spacing: -0.5px;
}

h2 {
  color: #222;
  padding-bottom: 10px;
  letter-spacing: 0.41px;
}

p {
  font-weight: 300;
  line-height: 25px;
  word-spacing: 0px;
  color: #7d7d7d;
  letter-spacing: 0.41px;
  font-size: 17px;
}

ul {
  list-style: none;
  padding: 0;
}

div {
  word-break: keep-all;
  word-wrap: normal;
}

div:after {
  clear: both;
  display: block;
  content: "";
}

*, *:before, *:after {
  box-sizing: border-box;
}

input {
  outline: none;
}

.imgWrap {}

.imgWrap img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

#main {

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
    padding: 0;
    border: 0;
}


.subPage {
  padding:55px 0 35px 0;
}
div.subP-clinical-title {
  margin-bottom:70px;
}

form {
  margin:0;
}

a.blue {
    color: #4985ED !important;
}

.image-textWrap img {
    width: 100%;
}


.container:after {
    content: '';
    display: block;
    clear: both;
}

.container{
	margin: 0 auto;
}


/*메인- 롤링배너*/
.rollingBanner {

padding: 45px 0;
}

.rollingBanner .swiper-container {
padding-left:15px;
padding-right:15px;
transition:all 0.2s ease-out;
margin:0 auto;
max-width:1290px;
overflow:unset;
}

.rollingBanner .swiper-container.use {
  margin:0 !important;
}

.rollingBanner .swiper-scrollbar-drag {
    background: #4984ED;
}

.rollingBanner .swiper-container .swiper-wrapper {

min-height: 325px;
}
.rollingBanner .swiper-container .swiper-wrapper .swiper-slide {

}
.rollingBanner .swiper-container .swiper-wrapper .swiper-slide.card {
  cursor:pointer;
  border-top: 3px solid #4985ED;
  box-shadow:-0.5px 0.5px 6px 1.5px rgba(183, 183, 183, 0.3);
}

.swiper-slide.card .header {
}
.swiper-slide.card .header label {
  display: inline-block;
  width: 76px;
  height: 36px;
  text-align: center;
  background: #4985ED;
  color: white;
  line-height: 34px;
  font-size: 20px;
  font-weight: 350;
}
.swiper-slide.card .header span {

float: right;

padding: 10px 19px 5px 0;
}
.swiper-slide.card .header span i {

font-size: 19px;
color: #C8CBD1;
}
.swiper-slide.card .header span i.active {

color: #4985ED;
}
.swiper-slide.card.active .header span {

}
.swiper-slide.card.active .header span i {

}

.swiper-slide.card .context {

padding: 25px;

position: relative;

height: 230px;
}

.swiper-slide.card .context h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #434343;
}

.swiper-slide.card .context h6 b {

font-weight: 400;

position: relative;

padding-right: 12px;
}

.swiper-slide.card .context h6 b:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 15.3px;
  top: 4px;
  background: #808080;
  right: 5px;
  border-radius: 25px;
}

.swiper-slide.card .context h2 {
  font-size: 19px;
  letter-spacing: -0.4px;
  font-weight: 450;
  margin: 10px 0 15px 0;
  color: #434343;
  padding-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.swiper-slide.card .context .inBottom {

position: absolute;

bottom: 25px;
}

.swiper-slide.card .context .inBottom ul {
margin: 0;
display: flex;
}

.swiper-slide.card .context .inBottom ul li:nth-child(2n) {
    background-color: #97B9F5;
}

.swiper-slide.card .context .inBottom ul li {

min-width: 67px;

text-align: center;

background: #4985ED;

color: white;

line-height: 26px;

border-radius: 12.5px;

margin-right: 10px;

font-size: 15px;
}

.swiper-slide.card .context .inBottom ul li:last-of-type {
  margin-right:0;
}



.rollingBanner .swiper-container .swiper-scrollbar {
cursor: move;

position:relative;
width: 100%;

height: 5px;

z-index: 50;

bottom: 0;

left: 0;

background: #DBDBDB;
}
@media screen and (max-width:1074px) {
  .swiper-slide.card .context {
      height: 200px;
  }
  .rollingBanner .swiper-container .swiper-wrapper {
    min-height: 275px;
  }
}
/*메인- 롤링배너 ===================================================================*/



/* =============================== 임상시험이란 ================================*/
.image-textWrap {
    position: relative;
    width: 100%;
    background-color: #4985ED;
}


.middleBanner {
    width: 100%;
    background-image: url('../images/main/middleBanner2545.png');
    height: 498px;
    position: absolute;
    top: 0;
    -webkit-background-size: cover;
    background-size: cover;
    filter: alpha(opacity=0);
    -ms-background-position-x: 50%;
    background-position-x: 50%;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.image-textWrap{
  height: 498px;
}





.image-textWrap {}

.image-textWrap .textWrap {
  position: absolute;
  top: calc(50% - 208px);
  text-align: center;
  width: 100%;
}

.image-textWrap .textWrap .mainText {
    margin-top: 40px;
    font-family: 'JejuMyeongjo-Regular';
}

.image-textWrap .textWrap .mainText h3 {
  font-size: 41px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 30px;
}


.image-textWrap .textWrap .mainText p {
  font-size: 25px;
  line-height: 40px;
  color: #434343;
  font-weight: 300;
  letter-spacing: -0.3px;
}

.image-textWrap .textWrap .subText {
    margin-top: 60px;
    /* color: #434343; */
}

.image-textWrap .textWrap .subText p {
  color: #434343;
  font-weight: 350;
  letter-spacing: -0.3px;
  font-size: 22px;
}

.image-textWrap .textWrap .subText span {
    text-align: center;
}



@media only screen and (max-width: 991px) {

  .middleBanner {
    background-image: url('../images/main/middleBanner992.png');
    height: 376px;
  }
  .image-textWrap{
    height: 376px
  }
  .image-textWrap .textWrap {
      top: calc(50% - 147px);
  }

  div.image-textWrap .textWrap .mainText h3 {
    font-size: 29px;
    margin-bottom: 20px;
  }

  div.image-textWrap .textWrap .mainText p {
    font-size: 17px;
    line-height: 30px;
  }

  div.image-textWrap .textWrap .subText p {
    font-size: 15px;
  }

  span.arrow:before {
    top: 17px !important;
  }

  span.arrow:after {
    top: 23px !important;
  }

  .image-textWrap .textWrap .subText {
      margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {

  .middleBanner {
    background-image: url('../images/main/middleBanner768.png');
  }

}

@media only screen and (max-width: 481px) {

  .middleBanner {
    background-image: url('../images/main/middleBanner481.png');
  }

}

/* =============================== 임상시험이란 ================================*/
