@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Thin;
  font-weight: 100;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Thin.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Thin.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Thin?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Light;
  font-weight: 300;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Light.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Light.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Light?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: DemiLight;
  font-weight: 350;
  src:local(※),
    url("../fonts/NotoSansCJKKr-DemiLight.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-DemiLight.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-DemiLight?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Regular;
  font-weight: 400;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Regular.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Regular.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Regular?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Medium;
  font-weight: 500;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Medium.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Medium.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Medium?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Bold;
  font-weight: 700;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Bold.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Bold.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Bold?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: Black;
  font-weight: 900;
  src:local(※),
    url("../fonts/NotoSansCJKKr-Black.woff") format('woff'),
    url("../fonts/NotoSansCJKKr-Black.otf") format('opentype'),
    url('../fonts/NotoSansCJKKr-Black?#iefix') format('embedded-opentype');
}

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.font-normal{
  font-weight: normal;
}

html, body {
  margin: 0 auto;
  font-family: 'Noto Sans CJK KR';
  padding: 0;
  position: relative;
  text-transform: initial;
  background: hsl(0, 0%, 100%) !important;
}

body {
  overflow-x: hidden;
}

body:after, html:after {
  clear: both;
  display: block;
  content: "";
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  letter-spacing: 1px;
}

h2, h5 {
  letter-spacing: 1.3px;
  /* text-transform: uppercase; */
}

h1 {
  line-height: 3rem;
  padding-bottom: 0px;
}

h3 {
  letter-spacing: -0.5px;
}

h2 {
  color: #222;
  padding-bottom: 10px;
  letter-spacing: 0.41px;
}

p {
  font-weight: 300;
  line-height: 25px;
  word-spacing: 0px;
  color: #7d7d7d;
  letter-spacing: 0.41px;
  font-size: 17px;
}

ul {
  list-style: none;
  padding: 0;
}

div {
  word-break: keep-all;
  word-wrap: normal;
}

div:after {
  clear: both;
  display: block;
  content: "";
}

*, *:before, *:after {
  box-sizing: border-box;
}

input {
  outline: none;
}

.imgWrap {}

.imgWrap img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*헤더css */
header {}

  header .headerWrap {
      position: absolute;
      width: 100%;
  }

.headerWrap .navigationStatus {

}

.navigationStatus ul {
  margin: 0;
  float: right;
  padding: 8px 0;
  display: flex;
}

.navigationStatus ul li {
  position: relative;
}

.navigationStatus ul li a {
  display: inline-block;
  padding: 0 6.5px;
}

.navigationStatus ul li:nth-of-type(2) a {
  padding: 0 6.5px 0 12.5px;
}

.navigationStatus ul li:nth-of-type(2) a:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  top: 6px;
  background: #434343;
  left: 3px;
}

.headerWrap .navigationWrap {
  height: 84px;
  float: left;
  width: calc(100% - 84px);
}

.navigationWrap .logo {
  padding: 12px 0;
  float: left;
}

.navigationWrap .logo .imgWrap { width: 120px;}

/* .headerWrap .navigationWrap ul.navigation {
  flex-grow: 1;
  margin: 0 145px;
  display: flex;
} */

ul.navigation li.navigationColumn {
  width: calc(100% /4);
  text-align: center;
  position: relative;
}

ul.navigation li.navigationColumn a.root {
  display: inline-block;
  line-height: 46px;
  padding: 15px 0;
}

ul.navigation li ul.dropMenu {
  display: none;
}

ul.navigation li ul.dropMenu li {}

ul.navigation li ul.dropMenu li a {
  display:inline-block;
  line-height: 43px;
}

ul.navigation li.active a {
  border-bottom: 1px solid #4985ED;
}

ul.navigation li.active a.active {
  color: 1px solid #4985ED;
}

ul.navigation:not(.prohibition) li:hover ul.dropMenu {
  display: block;
  position: absolute;
  width: 100%;
  border-top: 5px solid #4985ED;
  transition:all 0.2s ease-out;
  background: white;
  z-index: 98;
}

.headerWrap div.uber {
  width: 84px;
  height: 84px;
  background-color:#EDB649;
  float: right;
  position: relative;
}

div.uber .uberButton {
  background:#EDB649;
  padding: 22.5px;
}

div.uber .uberButton a {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: calc(50% - 14.875px);
    top: calc(50% - 17px);
}

div.uber .uberButton a i {
  color: white;
  font-size: 34px;
}

div.uber.active .uberButton {
  background: red;
}

div.uber.active .uberButton a {
  color: white;
}

div.uber .uberMenuWrap {
  display: none;
}

div.uber.active .uberMenuWrap {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  background: white;
  height: 176.36px;
  margin-top: 2.5px;
  z-index:99;
  transition:all 0.2s ease-out;
}

.uberMenuWrap ul.uberMenu {
  margin: 0;
  position: inherit;
  display: FLEX;
  padding: 20px 0;
}

ul.uberMenu li.uberColumn {
  width: calc(100% / 4);
  text-align: center;
}

ul.uberMenu li.uberColumn ul {}

li.uberColumn ul li {}

li.uberColumn ul li a {
  display: inline-block;
  line-height: 46px;
}
/*헤더css 끝*/

/*메인- 롤링배너*/
.rollingBanner {

padding: 45px 0;
}

.rollingBanner .swiper-container {
padding-left:15px;
padding-right:15px;
transition:all 0.2s ease-out;
margin:0 auto;
width:1290px;
overflow:unset;
}

.rollingBanner .swiper-container.use {
  margin:0 !important;
}

.rollingBanner .swiper-scrollbar-drag {
    background: #4984ED;
}

.rollingBanner .swiper-container .swiper-wrapper {

min-height: 325px;
}
.rollingBanner .swiper-container .swiper-wrapper .swiper-slide {

}
.rollingBanner .swiper-container .swiper-wrapper .swiper-slide.card {
cursor:pointer;
border-top: 3px solid #4985ED;
box-shadow:-0.5px 0.5px 6px 1.5px rgba(183, 183, 183, 0.3);
}
.swiper-slide.card .header {
}
.swiper-slide.card .header label {
  display: inline-block;
  width: 76px;
  height: 36px;
  text-align: center;
  background: #4985ED;
  color: white;
  line-height: 34px;
  font-size: 20px;
  font-weight: 350;
}
.swiper-slide.card .header span {

float: right;

padding: 10px 19px 5px 0;
}
.swiper-slide.card .header span i {

font-size: 19px;
color: #C8CBD1;
}
.swiper-slide.card .header span i.active {

color: #4985ED;
}
.swiper-slide.card.active .header span {

}
.swiper-slide.card.active .header span i {

}

.swiper-slide.card .context {

padding: 25px;

position: relative;

height: 230px;
}

.swiper-slide.card .context h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #434343;
}

.swiper-slide.card .context h6 b {

font-weight: 400;

position: relative;

padding-right: 12px;
}

.swiper-slide.card .context h6 b:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 15.3px;
  top: 4px;
  background: #808080;
  right: 5px;
  border-radius: 25px;
}

.swiper-slide.card .context h2 {
  font-size: 19px;
  letter-spacing: -0.4px;
  font-weight: 450;
  margin: 10px 0 15px 0;
  color: #434343;
  padding-bottom: 0;
}

.swiper-slide.card .context .inBottom {

position: absolute;

bottom: 25px;
}

.swiper-slide.card .context .inBottom ul {
margin: 0;
display: flex;
}

.swiper-slide.card .context .inBottom ul li:nth-child(2n) {
    background-color: #97B9F5;
}

.swiper-slide.card .context .inBottom ul li {

min-width: 67px;

text-align: center;

background: #4985ED;

color: white;

line-height: 26px;

border-radius: 12.5px;

margin-right: 10px;

font-size: 15px;
}

.swiper-slide.card .context .inBottom ul li:last-of-type {
  margin-right:0;
}



.rollingBanner .swiper-container .swiper-scrollbar {
cursor: move;

position:relative;
width: 100%;

height: 5px;

z-index: 50;

bottom: 0;

left: 0;

background: #DBDBDB;
}
/*메인- 롤링배너 ===================================================================*/
