@charset "UTF-8";

footer {
  width: 100%;
  background: #202737;
}

.footer-wrap {
  width: 67%;
  margin: 0 auto;
  padding: 60px 0;
}

.footer-wrap .imgWrap {
  display: inline-block;
  float: left;
}

.footer-content {
  float: left;
}

.footer-wrap .imgWrap {
  width: 150px;
  margin: 31px 0;
}

.footer-content {
  width: calc(100% - 150px);
  margin: 0 auto;
  padding-left: 150px;
}

.footer-header, .footer-body {
  margin-bottom: 10px;
}

.footer-content p {
  font-size: 20px;
  color: #9B9B9B;
  font-family: "NanumSquare";
  font-weight: 400;
}
