@charset "UTF-8";

.card-content .context h6 b {
  font-weight: 400;
  position: relative;
  padding-right: 12px;
}

.card-content .context h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  padding-right: 12px;
}

.card-content .context h6:last-of-type {
  color: #434343;
  letter-spacing: -0.3px;
  font-weight: 400;
}

.card-content .context h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 15px 0;
  padding-bottom: 0;
  color: #434343;
  letter-spacing: -0.3px;
}

.card-content .context h6 b:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 18px;
  top: 2px;
  background: #808080;
  right: 5px;
  border-radius: 25px;
}

.card-section {
  margin: 0 auto;
  padding: 30px 0;
}

.card-content {
  width: calc( ( 100% / 3 ) - 7px);
  display: inline-block;
  float: left;
  margin: 0 10px 10px 0;
  padding: 20px 30px;
  border: 1px solid #C2C2C2;
  box-shadow: 0px 0px 3px 1.5px rgba(183, 183, 183, 0.3);
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.card-content:hover {
  position: relative;
  background: #eff5ff;
  cursor: pointer;
  box-shadow: 1px 1px 5px 3px rgba(183, 183, 183, 0.63);
}

.card-content.blue {
  border-top: 3px solid #9BBCF5;
}

.card-content.yellow {
  border-top: 3px solid #F5D79B;
}

.card-content:nth-of-type(3n) {
  margin-right: 0;
}

.banner-container {
  position: relative;
}

.banner-imgWrap img {
  width: 100%;
}

.banner-button {
  position: absolute;
  top: 0;
}

.banner-textWrap {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translate( -50%, -50%);
  cursor: pointer;
}

.banner-textWrap p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #434343;
}

span.arrow {
  position: relative;
}

span.arrow:before {
  content: '';
  height: 13px;
  width: 10px;
  display: block;
  border: 1.5px solid #434343;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  transform: rotate(-55deg);
  position: absolute;
  top: 13px;
  left: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

span.arrow:after {
  content: '';
  height: 1.5px;
  width: 25px;
  display: block;
  background: #434343;
  top: 19px;
  position: absolute;
  left: -8px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.subText:hover span.arrow:before {
    left: 15px;
}

.subText:hover span.arrow:after {
    left: 2px;
}

@media only screen and (max-width: 1079px) {

  .card-content:nth-of-type(3n){
      margin-right: 10px;
  }
  .card-content:nth-of-type(2n){
      margin-right: 0px;
  }
  .card-content {
      width: calc( ( 100% / 2 ) - 5px);
    }
}

@media only screen and (max-width: 767px) {
  .card-content .context h2 {
      font-size: 20px;
    }
}

@media only screen and (max-width: 460px) {
  .card-content:nth-of-type(3n){
      margin-right: 0px;
  }
  .card-content:nth-of-type(2n){
      margin-right: 0px;
  }
  .card-content {
      width: 100%;
    }
}

/* 하단 overlay   */
.image-textWrap2 {
    position: relative;
    width: 100%;
}

.image-textWrap2 .textWrap {
  position: absolute;
  top: 0;
  text-align: left;
  width: 1290px;
  left: calc(50% - 645px);
}

.image-textWrap2 .textWrap .mainText>p {
    font-size: 32px;
    line-height: 64px;
}

.image-textWrap2 .textWrap .mainText>.imgWrap {
    margin-top: 50px;
}

.textWrap {}

.image-textWrap2 .textWrap .mainText {
    margin-top: 60px;
}

.image-textWrap2 .textWrap .mainText>p .blue {
    color: #4984ec;
    font-size: 38px;
}

.image-textWrap2 .textWrap .mainText>button {
    position: relative;
    float: left;
    width: 150px;
    background-color: #4985ED;
}

.image-textWrap2 .textWrap .mainText>.btnWrap {
  float: left;
  width: 240px;
  background-color: #4985ED;
  border-radius: 40px;
  padding: 10px 35px;
  position: relative;
  margin-top: 50px;
  box-shadow: 0px 1px 4px 0px #596c98;
}

.image-textWrap2 .textWrap .mainText>.btnWrap button {
    position: relative;
}

.image-textWrap2 .textWrap .mainText>.btnWrap button::after{
  content: '';
  height: 1.5px;
  width: 25px;
  display: block;
  background: #fff;
  top: 21px;
  position: absolute;
  right: -35px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.image-textWrap2 .textWrap .mainText>.btnWrap button::before{
  content: '';
  height: 13px;
  width: 10px;
  display: block;
  border: 1.5px solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  transform: rotate(-55deg);
  position: absolute;
  top: 15px;
  right: -32px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.image-textWrap2 .textWrap .mainText>.btnWrap:hover button::after{
  right: -43px;
}

.image-textWrap2 .textWrap .mainText>.btnWrap:hover button::before{
  right: -40px;
}

.image-textWrap2 .textWrap .mainText>.btnWrap button span {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;

}


.image-textWrap2 .textWrap .mainText>.btnWrap button span.logo-font {
    font-size: 30px;
    margin-right: 3px;
}

@media only screen and (max-width: 1310px) {
  .image-textWrap2 .textWrap {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      left: 0;

  }

  .image-textWrap2 .textWrap .mainText>.btnWrap {
    margin: 0 auto;
    width: 240px;
    padding: 10px 25px;
    position: relative;
    margin-top: 60px;
    padding-right: 58px;
    float: none;
}
  .image-textWrap2 .textWrap .mainText{
    width: 100%;
  }
  .image-textWrap2 .textWrap{
    margin: 0 auto;
  }
}

@media only screen and (max-width: 790px) {

  .image-textWrap2 .textWrap .mainText>p {
      font-size: 26px;
      line-height: 57px;
  }
  .image-textWrap2 .textWrap .mainText>p .blue {
    color: #4984ec;
    font-size: 33px;
  }
}

@media only screen and (max-width: 560px) {
.image-textWrap2 .textWrap .mainText>p {
    font-size: 23px;
    line-height: 46px;
}
}
