@charset "UTF-8";

.partnerCompany {
  margin: 0 auto;
  padding: 40px 0;
  background: #fff;
  max-width: 1290px;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
    width: calc(100% - 94px);
}

.partnerOwl {
  width: 70%;
  margin: 0 auto;
}

.owlc2 {

  margin: 0 auto;
}

.owl-carousel .owl-stage-outer {
  z-index: 99;
}

.owl-nav {
  position: absolute;
  top: calc(50% - 17.5px);
  color: white;
  width: 100%;
  left: 0;
  z-index: 0;
  display: block !important;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  /* background: #ddd; */
}

.owlc2 .owl-nav button.owl-prev {
    left: -37px;
}

.owlc2 .owl-nav button.owl-next {
    right: -37px;
}

.owlc2 button {
  position: absolute;
}

.owlc2 button.owl-prev {
  left: 20px;
}

.owlc2 button.owl-next {
  right: 20px;
}
