@charset "UTF-8";

.partnerCompany {
  margin: 40px 0;
  padding: 20px 0;
  background: #fff;
}

.partnerOwl {
  width: 70%;
  margin: 0 auto;
}

.owlc2 {
  width: 60%;
  margin: 0 auto;
}

.owl-carousel .owl-stage-outer {
  z-index: 99;
}

.owl-nav {
  position: absolute;
  top: calc(50% - 35px);
  color: white;
  width: calc(100% + 15%);
  left: -7.5%;
  z-index: 0;
  display: block !important;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: #ddd;
}

.owlc2 button {
  position: absolute;
}

.owlc2 button.owl-prev {
  left: 20px;
}

.owlc2 button.owl-next {
  right: 20px;
}
