@charset "UTF-8";

.partnerCompany {
  margin: 40px 0 120px;
  padding: 20px 0;
  background: #fff;
}

.partnerOwl {
  width: 70%;
  margin: 0 auto;
}

.owlc2 {
  width: 67%;
  margin: 0 auto;
}

.owl-carousel .owl-stage-outer {
  z-index: 99;
}

.owl-nav {
  position: absolute;
  top: calc(50% - 15.2px);
  color: white;
  width: calc(100% + 15%);
  left: -7.5%;
  z-index: 0;
  display: block !important;
}
