@charset "UTF-8";

.select-area {
  display: inline-block;
  float: left;
  width: 22%;
   padding-right:10px;
  /* padding-left: 10px; */
}
.select-area:last-child{
    padding-right:0px;
}


@media only screen and (max-width: 1310px) {

  .select-area {
    display: inline-block;
    float: left;
    width: 22%;
     padding-left:10px;
    /* padding-left: 10px; */
  }

  .select-area:last-child{
      padding-right:10px;
  }


}
.select2-container {
  min-width: 100%;

}

.select-area.long-width {
    width: 34%;

}


.select-area:last-of-type .select2-container {
  margin-right: 0;
}

.select-wrap {
  margin: 0 auto;
  padding: 40px 0;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 47px;
  box-shadow: 1px 0.5px 4px 0px #005dff;
  position: relative;
}

.select-fullWrap {
  background: #4985ED;
}

.select-area.blue .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #4985ED;
  padding-left: 20px;
  padding-right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 45px;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #8E8E8E;
}

span.select2-selection__arrow:before {
  content: '';
  height: 13px;
  width: 13px;
  display: block;
  border: 3px solid #8E8E8E;
  border-radius: 3px;
  border-right-width: 0;
  border-top-width: 0;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.select-area.blue span.select2-selection__arrow:before {
  border: 3px solid #4985ED;
  border-right-width: 0;
  border-top-width: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
@media only screen and (max-width: 910px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 18px;
  }
  .select-area.long-width {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0px;
    padding: 0 10px;
  }
  .select-area {
    width: 33.33%;
    padding: 0 10px;
  }
  .select-area:last-child{
    /* padding-right: 10px; */
  }
}

@media only screen and (max-width: 600px) {
  span.select2-selection__arrow:before {
      right: 7px;
  }

}
