@charset "UTF-8";

.select-area {
  display: inline-block;
  float: left;
}

.select2-container {
  min-width: 315px;
  margin-right: 10px;
  width: calc( ( 100% / 4 ) - 30px);
}

.select-area:last-of-type .select2-container {
  margin-right: 0;
}

.select-wrap {
  width: 1290px;
  margin: 0 auto;
  padding: 30px 0;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 47px;
  box-shadow: 1px 0.5px 4px 0px #005dff;
}

.select-fullWrap {
  background: #4985ED;
}

.select-area.blue .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #4985ED;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 45px;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #8E8E8E;
}

span.select2-selection__arrow:before {
  content: '';
  height: 13px;
  width: 13px;
  display: block;
  border: 3px solid #8E8E8E;
  border-radius: 3px;
  border-right-width: 0;
  border-top-width: 0;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.select-area.blue span.select2-selection__arrow:before {
  border: 3px solid #4985ED;
  border-right-width: 0;
  border-top-width: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
